*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    position: relative;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-image: url(Images/taylor-flowe-4nKOEAQaTgA-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: auto;
}
body{
    font-size: 1.3em;
    font-family:'Work Sans', sans-serif;
}
nav{
    margin: 0 auto;
    padding: 0.1% 0;
    margin-right: 0;
}
nav>ul{
    text-align: right;
}
ul>li{
    display: inline;
}
ul>li>a{
    text-transform: uppercase;
    padding: 1%;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.733);
}
ul>li>a:hover{
    box-shadow: 0 0 0 0.625em rgba(0, 0, 0 , 0.1), insert 0 0 0.625em rgba(255, 255, 255, 0.6);
    background-color: rgba(107, 93, 84, 0.678);
    color: rgba(0, 35, 122, 0.7);
}
#slogan h2{
    padding-left: 1.5%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: blue;
    margin-bottom: 1%;
}
#scholar h3{
    padding-left: 1.5%;
    color:blue;
}
#scholar img{
    width: 50%;
    border-radius: 5px;
}
.scol{
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    gap: 1px;
}
.scol>p{
    text-align: justify;
    padding: 1.5%;
    background-color: black;
    color: white;
    border-radius: 5px;
}